body {background-color: pink;}
.q1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
background-color: white;
width: 200px; height: 170px;}
.q2 {
    border-top-left-radius: 20px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
background-color: white;
width: 200px; height: 170px;}
.q3 {
    border-top-left-radius: 20px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
background-color: white;
width: 200px; height: 170px;}
.q4 {
    border-top-left-radius: 20px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
background-color: white;
width: 200px; height: 170px;}
.q5 {
    border-top-left-radius: 20px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
background-color: white;
width: 200px; height: 170px;}
.q6 {
    border-top-left-radius: 20px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
background-color: white;
width: 200px; height: 170px;}